/*VIVE LE CSS C TELLEMENT BANGER 😭😭🙏*/
/*chargement du début juste pour prouver que g copier-coller de mon portfolio*/

body {
  display: flex;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  transition: background-color 0.5s ease;
  cursor: url(https://cur.cursors-4u.net/cursors/cur-11/cur1054.cur), auto;
}

/* Style pour le fond en grille avec la DA*/
.grid-background {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right, #000000 1px, transparent 1px),
    linear-gradient(to bottom, #000000 1px, transparent 1px);
  background-size: 40px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff; /* Couleur de fond */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.loader-wrapper.fade-out {
  opacity: 0;
  visibility: hidden;
}

.loader {
  width: 80px;
  height: 80px;
  border: 8px solid rgba(58, 58, 58, 0.2);
  border-top: 8px solid #000000;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.loader-text {
  color: #000000;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
  margin-top: 2rem;
  letter-spacing: 2px;
  animation: pulse 1s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.progress-bar {
  width: 300px;
  height: 4px;
  background: rgba(109, 109, 109, 0.2);
  border-radius: 10px;
  margin-top: 2rem;
  overflow: hidden;
}

/*la barre de chargeemnt*/
.progress-fill {
  height: 100%;
  background: #000000;
  width: 0%;
  transition: width 0.3s ease;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

/*les etoiles on été faites sur Adobe Illustrator =￣ω￣= */
/*les etoiles, etoile 1 avec 5 branches*/
.etoiles_star_1 {
  left: 20px;
  bottom: 10px;
  position: absolute;
  width: 300px;
  height: 300px;
  animation: disparait 3.5s infinite;
}
@keyframes disparait {
  0%,
  100% {
    opacity: 0.5;
    transform: scale(1);
  }
  50% {
    opacity: 0.1;
    transform: scale(1.2);
  }
}

/*etoile 2 a 4 branches*/
.etoiles_star_2 {
  right: 20px;
  top: 200px;
  position: absolute;
  width: 150px;
  height: 150px;
  animation: disparait 3.5s infinite;
  row-gap: -14deg;
  z-index: 1;
}
@keyframes disparait {
  0%,
  100% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.7;
    transform: scale(1.2);
  }
}

/*etoile 3, avec 9 branches*/
.etoiles_star_3 {
  left: 150px;
  bottom: 200px;
  position: absolute;
  width: 170px;
  height: 170px;
  animation: disparait3 4s infinite;
  rotate: -38deg;
  z-index: 1;
}
@keyframes disparait3 {
  0%,
  100% {
    opacity: 0.5;
    transform: scale(1);
    rotate: -25deg;
  }
  50% {
    opacity: 1;
    transform: scale(1.3);
    rotate: -35deg;
  }
}

/*etoile 4, flm de compter*/
.etoiles_star_4 {
  right: 10px;
  top: 10px;
  position: absolute;
  width: 300px;
  height: 300px;
  animation: disparait4 4s infinite;
  rotate: 20deg;
}
@keyframes disparait4 {
  0%,
  100% {
    opacity: 1;
    transform: scale(1);
    rotate: 20deg;
  }
  50% {
    opacity: 0.8;
    transform: scale(1.2);
    rotate: 30deg;
  }
}

/*partie pour les playlist*/

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(2, 300px);
  gap: 30px;
  place-items: center;
}

/*les boutons des playlist*/
.button-image {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s ease;
  border: 3px solid rgb(255, 255, 255);
      cursor: url("https://cur.cursors-4u.net/cursors/cur-11/cur1051.cur") 24 24, pointer;
/* ptit tips de lien cursuer ("https://cur.cursors-4u.net/cursors/cur-11/cur1051.cur")*/
}

.button {
  width: 300px;
  height: 300px;
  background-color: #ffffff00;
  border-radius: 20px;
  border: none;
  transition: transform 0.3s ease;
    cursor: url("https://cur.cursors-4u.net/cursors/cur-11/cur1051.cur") 50 50, pointer;
}

.button:hover {
  transform: scale(1.1);
}

.button:active {
  transform: scale(0.9);
}

#Freddie_Dredd:hover {
   box-shadow: 0PX 0px 20px #401C18; 
}

#Lumi_Athena:hover {
   box-shadow: 0PX 0px 20px #101010; 
}
#Big_Poppa:hover {
   box-shadow: 0PX 0px 20px #F02F36; 
}
#Ayasa:hover {
   box-shadow: 0PX 0px 20px #F3862B; 
}
#Mac_Demarco:hover {
   box-shadow: 0PX 0px 20px #647891; 
}
#Vanille:hover {
   box-shadow: 0PX 0px 20px #676B21; 
}

/* Vive le CSS... 😭Il est 04:07 du matin help, un ptit robux svp😭🙏*/
/*#Loup garou*/ 
